@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {



      --font-heading: "Figtree", sans-serif;
      --font-body: "Figtree", serif;

      --breakpoint-sm: 640px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 1024px;
    }
body {
      font-family: var(--font-body);
      font-weight: 400;
      color: var(--gray-800);
      background-color: var(--gray-50);
      line-height: 1.6;
             margin: 0;                  
            padding: 20px;             
            line-height: 1.6;
    }

    p {
      font-family: var(--font-body);
      font-weight: 400;
      line-height: 1.6;
      color: var(--gray-800);
      background-color: var(--gray-50);
    }
    


    h1 {
      font-size: 1000%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      letter-spacing: -15px;
      font-weight: 200;
      font-family: var(--font-heading);
      line-height: 0.8;
      margin-bottom: 1rem;
    }

    h3 {
      margin-top: 20px;
      font-weight: normal;
      font-size: 600%; 
      letter-spacing: -8px;
      line-height: 0.8;
    }